# Charger-specific file
on init
    setprop vendor.usb.adb_early ${ro.boot.adb_early:-"0"}

on charger
    setprop vendor.usb.charging.func.name fastboot

# Wait for the USB init shell script to finish, to prevent enumeration issues
on property:init.svc.vendor.mmi-usb-sh=stopped && property:ro.boot.mode=charger && property:vendor.usb.adb_early=0
    setprop sys.usb.configfs 1
    setprop sys.usb.config fastboot

on property:init.svc.vendor.mmi-usb-sh=stopped && property:ro.boot.mode=charger && property:vendor.usb.adb_early=1
    setprop sys.usb.configfs 1
    setprop sys.usb.config adb

on late-fs-charger
    class_start early_hal
    mount_all --late
    # Boot time fs tune
    write /sys/block/dm-9/queue/read_ahead_kb 2048

on charger
    trigger early-fs
    trigger fs
    trigger post-fs
    trigger late-fs-charger
    trigger post-fs-data
    trigger moto-charger
    class_stop main
    class_stop late_start

on moto-charger
    stop vendor.sensors
    trigger firmware_mounts_complete
    wait /sys/class/power_supply/battery
    wait /sys/class/power_supply/usb
    write /sys/devices/platform/soc/soc:mmi,charger/state_sync 1
    wait /sys/class/udc/${sys.usb.controller} 20
    start vendor.charge_only_mode
    start vendor.thermal-com
    start system_suspend

    # Enable only CPU core 0 to keep current drain to a minimum
    write /sys/devices/system/cpu/cpu0/online 1
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "walt"
    write /sys/devices/system/cpu/cpu1/online 0
    write /sys/devices/system/cpu/cpu2/online 0
    write /sys/devices/system/cpu/cpu3/online 0
    write /sys/devices/system/cpu/cpu4/online 0
    write /sys/devices/system/cpu/cpu5/online 0
    write /sys/devices/system/cpu/cpu6/online 0
    write /sys/devices/system/cpu/cpu7/online 0

    #Enable UFS clock scaling back
    write /sys/bus/platform/devices/1d84000.ufshc/clkscale_enable 1
    #Enable UFS auto_hibern8 back
    write /sys/bus/platform/devices/1d84000.ufshc/auto_hibern8 5000
    #Enable UFS clock gating back
    write /sys/bus/platform/devices/1d84000.ufshc/clkgate_enable 1

service vendor.charge_only_mode /vendor/bin/charge_only_mode
    user root
    group graphics system input
    capabilities SYS_BOOT
    disabled

service vendor.thermal-com /vendor/bin/thermal-engine-v2 --minimode
    class main
    user root
    group root system oem_2907
    socket thermal-send-client stream 0666 system oem_2907
    socket thermal-recv-client stream 0660 system oem_2907
    socket thermal-recv-passive-client stream 0666 system oem_2907
    socket thermal-send-rule stream 0660 system oem_2907
    disabled

# support clear batt_firstusagedate flag
on property:sys.clear_batt_first_usage_date=true
    write /proc/config/all/new batt_firstusagedateX
    wait  /proc/config/batt_firstusagedate/ascii
    write /proc/config/batt_firstusagedate/ascii 1
    write /mnt/vendor/persist/batt_health/first_usage_date 0
    setprop sys.clear_batt_first_usage_date done
